<?xml version="1.0"?>
<launch>

    
    <param name="robot_description" textfile="$(find jvan)/urdf/modelone.urdf"/>
    <arg name="X" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="Z" default="0"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="headless" value="false"/>
        <arg name="paused" value="false"/>
        <arg name="gui" value="true"/>
    </include>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

    <!-- <node name="joint_tester" pkg="rviz" type="rviz" output="screen"/> -->

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model modelone -x $(arg X) -y $(arg Y) -z $(arg Z)" output = "screen"/>

</launch>